html, body {
  width: 500px;
}


.popup-content input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.Logo{
  display: block;
  margin-top: auto;
  margin-right: auto;
  width: 10%;
}