.mozzi-wrapper {
    background: rgb(152, 123, 172);
    color :antiquewhite;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 350px;
    width: 300px;
    position: relative;
    padding: 10px;
    text-align: center;
    border-radius: 15px 50px 30px;
}

img {
    width: 150px;
    height: 150px;
    position: relative;
    align-self: center;
}

.mozzi-container {
    padding: 20px;
}

button {
    background: rgb(149, 77, 31);
    color:antiquewhite; 
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

button:hover {
    background: rgb(200, 185, 114);
}